$m-unit: 2px;
@for $i from -32 through 32 {
    .m {
        &-t-#{$i*$m-unit} {
            margin-top: $m-unit * $i !important;
            box-sizing: content-box;
        }
        &-b-#{$i*$m-unit} {
            margin-bottom: $m-unit * $i !important;
            box-sizing: content-box;
        }
        &-l-#{$i*$m-unit} {
            margin-left: $m-unit * $i !important;
            box-sizing: content-box;
        }
        &-r-#{$i*$m-unit} {
            margin-right: $m-unit * $i !important;
            box-sizing: content-box;
        }
        &-#{$i*$m-unit} {
            margin: $m-unit * $i !important;
            box-sizing: border-box;
        }
        &-h-#{$i*$m-unit} {
            margin: 0 $m-unit * $i !important;
            box-sizing: content-box;
        }
        &-v-#{$i*$m-unit} {
            margin: $m-unit * $i 0 !important;
            box-sizing: content-box;
        }
    }
}

/* padding 10++ */

$p-unit: 2px;
@for $i from 1 through 32 {
    .p {
        &-t-#{$i*$p-unit} {
            padding-top: $p-unit * $i !important;
            box-sizing: content-box;
        }
        &-b-#{$i*$p-unit} {
            padding-bottom: $p-unit * $i !important;
            box-sizing: content-box;
        }
        &-l-#{$i*$p-unit} {
            padding-left: $p-unit * $i !important;
            box-sizing: content-box;
        }
        &-r-#{$i*$p-unit} {
            padding-right: $p-unit * $i !important;
            box-sizing: content-box;
        }
        &-#{$i*$p-unit} {
            padding: $p-unit * $i !important;
            box-sizing: border-box;
        }
        &-h-#{$i*$p-unit} {
            padding: 0 $p-unit * $i !important;
            box-sizing: content-box;
        }
        &-v-#{$i*$p-unit} {
            padding: $p-unit * $i 0 !important;
            box-sizing: content-box;
        }
    }
}

.__hide {
    opacity: 0;
    pointer-events: none;
}

.ta-center {
    text-align: center;
}

.__ell-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}


.__ell-7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    line-clamp: 7;
    -webkit-box-orient: vertical;
}

.__ell-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.__section {
    &__padding {
        padding-right: 32px;
        padding-left: 32px;
    }

    &__content {
        max-width: var(--max-content-width);
        margin-left: auto;
        margin-right: auto;
    }
}

.__rad {
    &-tl {
        border-top-left-radius: calc(var(--border-radius) * 3);
    }

    &-tr {
        border-top-right-radius: calc(var(--border-radius) * 3);
    }

    &-br {
        border-bottom-right-radius: calc(var(--border-radius) * 3);
    }

    &-bl {
        border-bottom-left-radius: calc(var(--border-radius) * 3);
    }
}

.__sticky {
    position: sticky;
    bottom: 0;
    background-color: var(--bg-color-primary);
    // background-color: rgba(var(--bg-color-primary), 0.5);
    // backdrop-filter: blur(8px);
    border-top: 1px solid var(--text-color-disabled);
    box-shadow: var(--box-shadow-light);
    padding: 16px 0;
    z-index: 1;
}

.__sticky-top {
    background-color: var(--bg-color-primary);
    position: sticky;
    top: 0px;
    z-index: 3;
}

.__bottom-shadow-inner {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 16px;
        background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.08));
        z-index: 1;
    }
}

.__dot-separator {
    color: var(--text-color-placeholder);
    font-family: "Cereal", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 8px;
}

.__separator-y {
    width: 1px;
    height: 100%;
    background-color: var(--bg-color-disabled);
}

.__badge {
    padding: 4px 8px;
    color: var(--text-color-primary-with-bgcolor);
    border-radius: var(--border-radius);
    background-color: var(--primary-color-1);
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
    &.primary {
        background-color: var(--primary-color-1);
    }
    &.success {
        background-color: var(--success-color-1);
    }
}

.__bg-primary {
    background-color: var(--bg-color-primary);
}

.__hide {
    opacity: 0;
}

.__br-tl {
    border-top-left-radius: calc(var(--border-radius) * 2);
}

.__br-tr {
    border-top-right-radius: calc(var(--border-radius) * 2);
}
