:host {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .__loader-ell {
        display: inline-block;
        position: relative;
        height: 13px;
        width: 76px;
        transform: scale(0.8);
        div {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: var(--text-color-primary-with-bgcolor);
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
            &:nth-child(1) {
                left: 8px;
                animation: loader-ell1 0.6s infinite;
            }
            &:nth-child(2) {
                left: 8px;
                animation: loader-ell2 0.6s infinite;
            }
            &:nth-child(3) {
                left: 32px;
                animation: loader-ell2 0.6s infinite;
            }
            &:nth-child(4) {
                left: 56px;
                animation: loader-ell3 0.6s infinite;
            }

            @keyframes loader-ell1 {
                0% {
                    transform: scale(0);
                }
                100% {
                    transform: scale(1);
                }
            }
            @keyframes loader-ell3 {
                0% {
                    transform: scale(1);
                }
                100% {
                    transform: scale(0);
                }
            }
            @keyframes loader-ell2 {
                0% {
                    transform: translate(0, 0);
                }
                100% {
                    transform: translate(24px, 0);
                }
            }
        }
    }
}
