<ng-container *ngIf="store$ | async as store">
    <div class="__section">
        <div class="__section__padding">
            <div class="__section__content">
                <div class="m-t-24px"></div>
                <!-- <div class="__hdr-3">About Us</div>
                <div class="m-t-16px"></div> -->
                <p class="__body-1" [innerHTML]="store.description"></p>
                <div class="p-32px"></div>
                <div class="p-32px"></div>
                <div class="p-32px"></div>
                <div class="p-32px"></div>
                <div class="p-32px"></div>
                <div class="p-32px"></div>
                <div class="p-32px"></div>
            </div>
        </div>
    </div>


    <!-- <div class="__section">
        <div class="__section__padding">
            <div class="__section__content">
                <div class="m-t-24px"></div>
                <div class="__hdr-3">Products</div>
                <div class="m-t-8px"></div>
                <p class="__body-2" [innerHTML]="store.description"></p>
                <div class="m-t-24px"></div>
                <div class="__separator"></div>
            </div>
        </div>
    </div> -->

</ng-container>