<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="m-t-32px"></div>

    <div class="__section">
        <div class="__section__padding">
            <div class="__section__content">

                <div class="__hdr-5">Store Logo</div>
                <div class="m-t-8px"></div>
                <div class="__caption-1">
                    <p>
                        Recommended image resolution: 600 x 600 pixel, JPEG format, maximum size 1 MB. The
                        logo will be
                        used in all scenarios with store exposure
                    </p>
                </div>
                <div class="m-t-12px"></div>
                <ui-photo-uploader [label]="'Upload logo'" [folder]="'core/store-logo'"
                    [accept]="'image/jpeg, image/png'" (onUploadComplete)="onUploadLogo($event)"
                    [image]="form.controls.logo.value"></ui-photo-uploader>
                <div class="m-t-12px"></div>

                <div class="m-t-48px"></div>

                <div class="__hdr-5">Store Name</div>
                <div class="m-t-8px"></div>
                <div class="__caption-1">Please don't use any sensitive or forbidden words</div>
                <div class="m-t-12px"></div>
                <div class="form-field">
                    <input type="text" id="storeName" placeholder="storeName" autocomplete="off" formControlName="name">
                    <label for="storeName">Store Name</label>
                </div>

                <div class="m-t-48px"></div>

                <div class="__hdr-5">Store Description</div>
                <div class="m-t-8px"></div>
                <div class="__caption-1">Enter the description or information about your store</div>
                <div class="m-t-12px"></div>
                <div class="form-field">
                    <p contenteditable id="storeDescription" placeholder="storeDescription"
                        formControlName="description"></p>
                    <label for="storeName">Store Description</label>
                </div>

                <div class="m-t-48px"></div>

                <div class="__hdr-5">Images and Videos</div>
                <div class="m-t-8px"></div>
                <div class="__caption-1">Resolution should not exceed 1280 x 1280 pixel, maximum size 1 MB. Images and
                    videos will be
                    display in your store front</div>
                <div class="m-t-12px"></div>
                <ui-grid-gallery [label]="'Upload photos'" [images]="form.controls.visual_medium.value"
                    [folder]="'core/store-photos-and-videos'" [icon]="'assets/icons/photo.svg'"
                    [accept]="'image/jpeg, image/png'" (onUploadComplete)="onUploadImage($event)"
                    (onDeleteItem)="onDeleteImage($event)"></ui-grid-gallery>
                <div class="m-t-12px"></div>

                <div class="m-t-48px"></div>

                <div class="__hdr-5">Accreditations and Certificates</div>
                <div class="m-t-8px"></div>
                <div class="__caption-1">Resolution should not exceed 1280 x 1280 pixel, maximum size 1 MB. These
                    documents
                    drives more legibilty to your store front</div>
                <div class="m-t-12px"></div>
                <ui-grid-gallery [label]="'Upload documents'" [images]="form.controls.documents.value"
                    [folder]="'core/store-documents'" [icon]="'assets/icons/doc.svg'"
                    [accept]="'image/jpeg, application/pdf'" (onUploadComplete)="onUploadDocument($event)"
                    (onDeleteItem)="onDeleteDocument($event)">
                </ui-grid-gallery>
                <div class="m-t-12px"></div>

                <div class="m-64px"></div>

            </div>
        </div>
    </div>

    <div class="__section __sticky">
        <div class="__section__padding">
            <div class="__section__content">

                <div class="fx-layout-row fx-align-start-center">
                    <!-- <button type="submit" class="__btn lg primary"
                        [class.disabled]="!(hasChanged$ | async)">{{!(hasChanged$ | async) ? 'No changes' : (store$ |
                        async) ? 'Save' : 'Submit'}}</button>
                    <div class="m-l-16px"></div>
                    <button class="__btn lg shade" *ngIf="store$ | async">Deactivate Store</button> -->


                    <button type="submit" class="__ui-btn primary"
                        [class.disabled]="!(hasChanged$ | async) || (saving$ | async)">
                        <span [class.__hide]="(saving$ | async)">
                            {{!(hasChanged$ | async) ? 'No changes' : (store$ | async) ? 'Save' : 'Submit'}}
                        </span>
                        <ui-loader-ell *ngIf="(saving$ | async)"></ui-loader-ell>
                    </button>

                    <div class="m-l-16px"></div>

                    <div class="__ui-btn shade" *ngIf="store$ | async">Deactivate Store</div>


                </div>

            </div>
        </div>
    </div>



</form>