<!-- <button (click)="onClick()">test</button> -->

<!-- <div class="hdr-1">Heading 1</div>
<div class="hdr-2">Heading 2</div>
<div class="hdr-3">Heading 3</div>
<div class="hdr-4">Heading 4</div>

<div class="btn-lg">button large</div>
<div class="btn-sm">button small</div>

<div class="caption-1">caption 1</div>
<div class="caption-2">caption 2</div>


<div class="body-1">Body 1</div>
<div class="body-2">Body 2</div>

<div class="small-txt">Small Text</div> -->


<!-- <div class="component" style="padding: 30px"> -->
<!-- 
    <div style="padding: 10px"></div>
    <div class="__btn __btn-sm">Register now</div>
    <div style="padding: 10px"></div>
    <div class="__btn __btn-sm primary">button</div>
    <div style="padding: 10px"></div>
    <div class="__btn __btn-sm secondary">button</div>
    <div style="padding: 10px"></div>
    <div class="__btn __btn-sm ghost">button</div>
    <div style="padding: 10px"></div>
    <div class="__btn __btn-sm disabled">button</div>
    <div style="padding: 10px"></div>
    <input class="form-text-field" type="text" name="" id="" placeholder="Placeholder">
    <div style="padding: 10px"></div>
    <input class="form-text-field disabled" type="text" name="" id="" placeholder="Placeholder">
    <div style="padding: 10px"></div>
    <form-dropdown placeholder="Select" [options]="options"></form-dropdown> -->
<!-- </div> -->
<!-- <dealo-header></dealo-header> -->
<router-outlet></router-outlet>

<!-- <img src="https://i.picsum.photos/id/1029/4887/2759.jpg?hmac=uMSExsgG8_PWwP9he9Y0LQ4bFDLlij7voa9lU9KMXDE" alt="" srcset=""> -->