@import "flex.scss";
@import "helper.scss";

:host {
    @extend .fx-layout-column;

    .__brands-wrapper {
        @extend .fx-layout-row-wrap;
        column-gap: 16px;
        row-gap: 16px;
    }

    .__add-btn {
        width: calc((1 / 3) * (100% - (32px)));
        min-height: 193px;
        border: dashed 2px var(--bg-color-disabled);
        border-radius: calc(var(--border-radius) * 2);
        background-color: var(--bg-color-hover);
        @extend .fx-layout-row;
        @extend .fx-align-center-center;

        .__icon {
            fill: var(--bg-color-disabled);
        }
    }

    .__card {
        position: relative;
        width: calc((1 / 3) * (100% - (32px)));
        box-shadow: var(--box-shadow-light);
        border-radius: calc(var(--border-radius) * 2);
        // border: 1px solid var(--text-color-disabled);

        .__btn-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            margin: 16px;
            z-index: 1;
        }

        .__header {
            @extend .fx-layout-row;
            padding: 0 20px;
            .__logo {
                @extend .fx-layout-row;
                @extend .fx-align-center-center;
                width: 50px;
                height: 50px;
                background-color: var(--bg-color-disabled);
                border-radius: 50%;
                // box-shadow: var(--box-shadow-dark);
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    max-width: calc(100% - 16px);
                }
            }
        }

        .__content {
            padding: 0 20px;
        }
    }

    @media (min-width: 375px) {
        .__add-btn {
            width: calc((1 / 1) * (100%));
        }
        .__card {
            width: calc((1 / 1) * (100%));
        }

        // .__add-btn {
        //     width: calc((1 / 2) * (100% - (16px)));
        // }
        // .__card {
        //     width: calc((1 / 2) * (100% - (16px)));
        // }
    }

    @media (min-width: 744px) {
        .__add-btn {
            width: calc((1 / 2) * (100% - (16px)));
        }
        .__card {
            width: calc((1 / 2) * (100% - (16px)));
        }
    }

    @media (min-width: 950px) {
        .__add-btn {
            width: calc((1 / 2) * (100% - (16px)));
        }
        .__card {
            width: calc((1 / 2) * (100% - (16px)));
        }
    }

    @media (min-width: 1128px) {
        .__add-btn {
            width: calc((1 / 3) * (100% - (32px)));
        }
        .__card {
            width: calc((1 / 3) * (100% - (32px)));
        }
    }
}
